*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 15px;
    background: #f2f3f5;
}
.layui-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#form-addï¼Œ#dialog-edit{
    padding-top: 20px;
    padding-right: 30px;
}